.DS_Store
Designing Data-Intensive Applications_ The Big Ideas Behind Reliable, Scalable, and Maintainable ...{Kleppmann, Martin _ Riccomini, Chris}(2026 February 18, O&_039_Reilly Media){115705480} libgen.li.epub
ddia_progress.json
chapters/
chapters/**
.env
logs/
**/__pycache__/**
venv/
